@charset "utf-8";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Kiwi Maru", serif!important;
  font-size: 17px;
  line-height: 1.8;
  letter-spacing: 1.2px;
  color: #333333;
}

body {
  margin: 0;
  padding: 0;
  z-index: 0;
}

img {
  width: 100%;
}



/* -----------font-----------*/
.kiwi-maru-regular {
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
}

.hina-mincho-regular {
  font-family: "Hina Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

.klee-one-regular {
  font-family: "Klee One", 'cursive';
  font-weight: 400;
  font-style: normal;
}


/* -----------loading-----------*/
#loading_animation {
  display: none;
}

#loading_animation.active {
  display: initial;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto !important;
  background-image:url(../img/loading-bg.png);
  z-index: 10000;
  opacity: 1;
  animation: topLoading 2s forwards 2s;
}

#loading_animation.none {
  display: none;
}

@keyframes topLoading {
  100% {
    opacity: 0;
  }
}

#loading_animation img {
  width: 300px;
  height: auto;
  margin: auto !important;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}









/*-------------------------------------------
header
-------------------------------------------*/


/*-------------------------------------------
footer
-------------------------------------------*/

/*-------------------------------------------
共通
-------------------------------------------*/
.center_main {
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.background-container {
  overflow: hidden;
  position: relative;
  background-color: lightblue; /* 左右の色 */
  width: 100%;
  box-sizing: border-box;
}

.background-image {
  display: none;
}
.fadein_target {
  opacity: 0;
  transition: 1s;
  transition-delay: 0.4s;
  transform: translateY(60px);
  z-index: 100;
}

.fadein_image_right {
  width: 209px;
  position: absolute;
  bottom: -200px;
  right: -30px;
  z-index: 10;
}

.fadein_image_left {
  width: 220px;
  position: absolute;
  top: -255px;
  left: -45px;
  z-index: 10;
}

.inview {
  opacity: 1;
  transform: translateY(0px);
}

/*-------------------------------------------
TOP
-------------------------------------------*/

.main_visual {
  height: 100vh;
  background-color: rgba(197, 208, 197, 0.6);
  padding: 0 0 2200px 0;
}

.main_visual_whiteout {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: #fff;
  z-index: 10;
  opacity: 0;
}

.main_visual_images {
  width: 100%;
  max-width: 600px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  pointer-events: none;
}

.main_visual_text {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  opacity: 0;
}

.main_visual_en {
  line-height: 35px;
  font-size: 30px;
  letter-spacing: 0;
  color: #6F4711;
}

.main_visual_ja {
  line-height: 35px;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 15px;
  letter-spacing: 0;
  margin: 20px 0 0 0;
  color: #6F4711;
}

.fadeout_target {
  position: absolute;
  transition: transform 0.3s ease-out;
  top: 0px;
  right: 0px;
}

.fadeout_target_sun {
  top: 0px;
  bottom: 60%;
  right: 0;
  left: 40%;
  position: absolute;
  margin: auto;
  z-index: 10;
  width: 30%;
  transform: rotate(-60deg); /* -10度の角度をつける（反時計回り） */

}

.page_sun{
  position: absolute;
  transition: transform 0.3s ease-out;
  top: -100px;
  right: -100px;
  z-index: 10;
}

.fadeout_target_1, .fadeout_target_tree {
  z-index: 10;
}

.fadeout_target_tree {
  position: absolute;
  top: 0;
  bottom: 45%;
  right: 50%;
  left: 0;
  margin: auto;
  width: 30%;
}

.fadeout_target_sky {
  height: 100%;
  object-fit: cover;
  position: relative;
}

.fadeout_target_ground ,.fadeout_target_mountain{
  object-fit: cover;
  position: absolute;
  top: unset;
  bottom: 0;
  transform-origin: center; /* ズームの中心を設定 */

}

.fadeout_target_3 {
  object-fit: cover;
  position: absolute;
  top: unset;
  bottom: 0;
}


.fadeout_target_children {
  object-fit: cover;
  position: absolute;
  right: 10%;
  left: 0;
  top: 50%;
  right: 75%;
  margin: 0 auto;
  /* bottom: 54%; */
  width: 20%;
}

.fadeout_target_right {
  width: 60%;
  object-fit: cover;
  position: absolute;
  top: unset;
  bottom: 0;
}

.fadeout_target_left {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: unset;
  bottom: 0;
  left: 0;
}


.top_content_bg {
  background-color: rgba(197, 208, 197, 0.6);
  padding: 20px 0;
  /* height: 500px; */
}

.top_h2_box {
  position: relative;
  margin: 0 0 30px 0;
  z-index: 1;
  line-height: 1;
}

.top_h2_box h2 {
  font-family: "Hina Mincho", serif;
  font-size: 80px;
  margin-bottom: 2px;
  display: block;
}

.top_h2_box span {
  font-size: 15px;
  display: block;
  margin-top: 10px;
}

.top_content_introduction {
  padding: 100px 10px 100px;
  position: relative;
}
.top_content_introduction {
  padding: 100px 10px 100px;
  position: relative;
}
/* -----------ipad-----------*/


@media screen and (min-width:640px) {

/*-------------------------------------------
Top
-------------------------------------------*/

.fadein_image_left {
  width: 220px;
  position: absolute;
  top: -330px;
  left: -45px;
  z-index: 10;
}

.fadeout_target_sun {
  left: 40%;
}

  /*-------------------------------------------
共通
-------------------------------------------*/

  .page_sun {
    top: -160px;
    right: -160px;
}



}

.background-image {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 1000px;
  max-width: 100px;
  margin: auto;
  z-index: 100;
  position: fixed;
}

.background-image img {
  width: 100%;
  height: auto;

}

