html {
  font-family: "Zen Maru Gothic", serif;
  /*font-family: "Shadows Into Light", cursive;*/
  font-weight: 500;
  font-style: normal;
}

.pop { 
  font-family: "Shadows Into Light", cursive;
}

header {
  padding: 27px 0;

}

.container {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.04em;
  font-family: "Shadows Into Light", cursive;
  color: #000;
  text-decoration: none; 
}

.logo a {
  color: #bc8f8f;
  text-decoration: none; 
}

.logo span { 
  color: #bc8f8f;

}

.nav ul {
  display: flex;
  justify-content: right;
  margin-bottom: 30px;
  list-style: none;
  font-family: "Shadows Into Light", cursive;
}

.nav ul li {
  padding-left: 64px;
}

.nav li a {
  transition: .3s;
  text-decoration: none; 
  color: #bc8f8f;
}

.nav li a:hover {
  color: #000000;
  transition: .3s;
}

@media only screen and (max-width: 900px) {
  header .container {
    justify-content: center;
  }

  .nav ul li {
    padding-top: 10px; /* 追加: 上に少し余白を追加 */
  }
  .header_menu li { 
    margin: 20px 16px 0;
  }
}

/*main*/
#hero {
  background-image: url("../img/flower.jpeg");
  background-position: center;/*上下中央に揃える*/
  background-size: cover;/*画像を全体に表示*/
  height: 540px;
  border-radius: 30px;/*角に丸みを*/
  display: flex;
  align-items: center;/*文字を中央に*/
  margin-bottom: 90px;/*次のセクションとの間をあけたい*/
  overflow: hidden;/*はみ出たところはカット*/
  filter: sepia(21%);
}

#hero::before {/*透かし*/
  content: '';
  width: 100%;/*擬似要素の幅*/
  height: 100%;
  background-color: #000000;
  position: absolute;/*全体に表示*/
  top: 0;
  left: 0;
  opacity: 0.2;/*20%透明に*/
  z-index: 1
}

.hero_inner {
  z-index: 2;/*↑より文字を上に。1<2*/
  color: #ffffff;
  width: 100%;
  text-align: center;
}

.hero_inner p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

.hero_inner h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;/*少し上にしたい*/
}

@media only screen and (max-width: 900px) {
  #hero {
    height: 460px;
  }
  .hero_inner p {
    font-size: 15px;
  }
  .hero_inner h1 {
    font-size: 17px;
  }
}

/*concept*/
#Concept {
  margin-bottom: 120px;/*conceptとserviceの間に余白を作る*/
}

.title {
  font-family: "Shadows Into Light", cursive;
  font-size: 20px;
  font-weight: 500;
  color: #bc8f8f;
  margin-bottom: 40px;
}

.container h3{
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 60px;
}

.column-2 {/*横並び*/
  width: 48%;/*右に写真を入れたいために、画面の48%に文字を収める*/
}

.text {
  line-height: 2;/*行間をあける*/
}

.concept-img {
  background-image: url("../img/my.jpg");
  background-position: center;
  background-size: cover;
  height: 340px;
  border-radius: 20px;
  filter: sepia(18%);
}

.heding {
  font-family: "Shadows Into Light", cursive;
  font-size: 200px;
  font-weight: 700;
  color: #bc8f8f;
  opacity: 0.1;/*半透明にする*/
  position: absolute;/*hedingの親要素であるconceptのsectionタグにposition: relativeが含まれているためここでの記述は不要*/
  top: 0;
  right: 0;/*右に表示したいい*/
  transform: translateY(-30%);/*もうすこし上に*/
  z-index: -1;
}

@media only screen and (max-width: 900px) {
  #concept h3{
    font-size: 24px;
    line-height: 1.5;
  }

  .flex {
    flex-direction: column;
  }
  .column-2 {
    width: 100%;
  }
  .text {
    font-size: 15px;
    line-height: 1.7;/*行間をあける*/
  }
  .concept-img {
    margin-top: 30px;
    height: 250px;
  }
  .heding {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .concept-img {
    height: 240px;
  }
}

/*service*/
.Service_inner {
  margin-bottom: 40px;
  position: relative;
}

.column-40 {
  width: 40%;
  filter: sepia(18%);
}

.column-55 {
  width: 55%;
}

.column-40 img {
  border-radius: 20px;/*写真丸める*/
  width: 100%;
  height: 300px; /* ここで写真の高さを指定します */
  object-fit: cover; /* 写真を容器に合わせてトリミングします */
}

.column-40 img:hover {
  background-color: #bc8f8f;
  transition: 0.3s;
  opacity: 0.5;
}
  

.column-40 h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

@media only screen and (max-width: 900px) {
.column-40 {
  width: 100%;/*縦並びに*/
  margin-bottom: 15px;/*少し下に余白をつける*/
  flex-direction: column;
}

.column-55 {
  width: 100%;
  flex-direction: column;
}
#Service h3 {
  font-size: 17px;
  margin-bottom: 18px;
}

}
/*section3*/
.section3 {
  padding: 80px 0;/*上下の間隔あける*/
}

.section3 .container {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

.section3 .sub_title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.section3 h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}

.row img {
  width: 100%;
}  

.row ul {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.row ul li {
  width: 31.5%;
  padding: 0 15px;
}

.section3 .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section3 .col {
  width: 48%;
}

.section3 .text {
  line-height: 1.8;
  margin-bottom: 30px;
}

.section3 a {
  text-decoration: none;
  color: inherit;  
}

.section3 img {
  height: 440px;
  border-radius: 20px;
  filter: sepia(18%);
}

.btn {
  font-size: 18px;
  border: solid 1px #bc8f8f;
  border-radius: 100px;
  display: inline-block;
  width: 270px;
  line-height: 60px;
  text-align: center;
  transition: 0.3s;
  margin-top: 8px;
  text-decoration: none;
  color: #000;
}

.btn:hover {
  color: #778899;
  border: solid 1px #778899;
  transition: 0.3s;
}

@media only screen and (max-width: 960px) {
  .section3 .row {
    flex-wrap: wrap;
  }

  .section3 img {
    height: 350px;
  }
  
  .section3 .col {
    width: 100%;
    margin-bottom: 30px;
  }

  .section3 .col img {
    display: none;
}

.btn {
  width: 200px;
}
}

/*フッダー*/
footer {
  text-align: center;
  margin: 90px 0;
}

.copyright {
  font-size: 12px;
  margin-top: 40px;
}